/* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .f1
     {
         background-color: teal;
     }
    } */
    
.Flex
{
    /* display: flex; */
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
    align-items: center;
    background: lightgrey;
    width: 475px;
    border-radius: 10px;

}
    
.flex > div
{
    border : 1px solid black;
    
}
.h1
{
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
.s1
{
    font-size: x-large;
    margin-left: 20px;
}
.t1
{
    height: 35px;
    width: 375px;
    border-radius: 5px;
    margin-left: 20px;
}
.b1
{
height:40px;
width: 100px;
border-radius: 5px;
margin-left: 350px;
background-color:cornflowerblue;
font-size: 20px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.d2
{
    margin-top: 13px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left:125px;
    background: lightseagreen;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
}
.h
{
    font-size: 25px;
}
.b2
{
    height:40px;
    width: 120px;
    border-radius: 5px;
    background-color:cornflowerblue;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:25px;
}